/*===========================
service
===========================*/

#pgl #service {
	margin:0 43px 30px 43px;
}

#pgl h3 {
	margin-top:40px;
}
#pgl #service h3 {
	margin:0;
	padding:0;
}

#pgl #renewal h3 {
	margin:0;
	padding:0;
	margin-top:25px;
}

#pgl #service h4 {
	margin:0;
	padding:0;
}

#pgl #otoiawase h4 {
	margin:0;
	padding:0;
}

#pgl #otoiawase {
	margin-left:auto;
	margin-right:auto;
	padding:0;
	width:659px;
}

#pgl #renewal p{
	margin:0;
	padding:0;
	line-height:1.6em;
}

#pgl #otoiawase p{
	margin:0;
	padding:0;
	line-height:1.6em;
}


#pgl #service .service_message_top{
	margin:30px 0 0 0;
	padding:0;
	width:797px;
	height:64px;
	font-size:0em;
}

#pgl #service .service_message_box {
	margin:0;
	padding:10px 30px 10px 30px;
	width:757px;
	background:url(../img/service_title_bg_fill.gif) repeat-y top left;
}

#pgl #service .service_message_box p{
	margin:0;
	padding:0;
}

#pgl #service .service_message_box .service_message_left{
	margin:0;
	padding:24px 0 0 28px;
	float:left;

}
#pgl #service .service_message_box .service_message_left p{
	width:485px;
	margin:0 0 7px 0;
	padding:0;
	color:#404040;
	font-size:100%;
}


#pgl #service .service_message_box .service_image_set {
	margin:24px 0 0 0;
	padding:0 0 0 20px;
	width:366px;
	float:left;

}

#pgl #service .service_message_box .service_image_set p{
	margin:10px 0 0 0;
	padding:0;
	color:#404040;
	font-size:90%;
}

#pgl #service .service_message_box .service_image_set img{
	margin:0 0 10px 0;
	padding:0;
}

#pgl #service .service_message_bottom{
	margin:0 0 25px 0;
	padding:0;
	width:797px;
	height:9px;
	background:url(../img/service_title_bottom.gif) no-repeat;
}


#pgl #otoiawase .otoiawase_message_box {
	margin:0;
	padding:17px 179px;
	width:307px;
	background:url(../img/otoiasawase_bg_fill.gif) repeat-y top left;
}


#pgl #otoiawase .otoiawase_message_bottom{
	margin:0 0 25px 0;
	padding:0;
	width:659px;
	height:6px;
	background:url(../img/otoiasawase_bottom.gif) no-repeat;
}


#common_text
{
	font-size:110%;
	margin-top:10px;
	margin-bottom:8px;
	line-height:1.8em;
}

#bold_text
{
	font-size:125%;
	font-weight: bold;
	margin-top:20px;
	margin-bottom:8px;
}
#bold_text_mid
{
	font-size:110%;
	font-weight: bold;
	margin-top:30px;
	margin-bottom:8px;
	line-height:2.0em;
}
.bold_text_pink
{
	font-size:125%;
	font-weight: bold;
	line-height:1.6em;
	color:#E2528F;
}

.kinomi_message_box
{
	line-height:1.6em;
	
}

.profile_message_box
{
	line-height:1.6em;
	
}

#pgl #renewal dl{
	margin:0;
	padding:0;
	margin-left:20px;
	width:100%;
}
#pgl #renewal dd {
	font-size:100%;
	width:800px;
	line-height:2.2em;
	color:#000000;
	margin-left:14px;
}
#pgl #renewal dt {
	font-size:100%;
	line-height:2.2em;
	color:#000000;
	width:14px;
	float:left;
}

#pgl dl{
	margin:0;
	padding:0;
	margin-left:20px;
}
#pgl dd {
	font-size:100%;
	width:800px;
	line-height:1.9em;
	color:#000000;
	margin-left:14px;
}
#pgl dt {
	font-size:100%;
	line-height:1.7em;
	color:#000000;
	float:left;
}

#pgl #service .service_message_box dl{
	margin:0;
	padding:0;
}
#pgl #service .service_message_box dd {
	font-size:100%;
	width:710px;
	line-height:1.8em;
	color:#000000;
}
#pgl #service .service_message_box dt {
	font-size:100%;
	line-height:1.8em;
	color:#000000;
	float:left;
}

#pgl #profile .profile_message_box dl{
	margin:10px 0 5px 0;
	padding:0;
}
#pgl #profile .profile_message_box dd {
	font-size:90%;
	margin-left: 14px;
	width:743px;
	line-height:1.8em;
	color:#666666;
}
#pgl #profile .profile_message_box dt {
	font-size:90%;
	line-height:1.8em;
	color:#666666;
	float:left;
}