
.not-logged-in #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-n.png);
}
.trial #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-t.png);
}
.logged-in-black #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-b.png);
}
.logged-in-white #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-w.png);
}
.logged-in-black2 #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-b2.png);
}
.logged-in-white2 #header {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-w2.png);
}

.trial #head-menu li a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-t.png);
}
.logged-in-black #head-menu li a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-b.png);
}
.logged-in-white #head-menu li a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-w.png);
}
.logged-in-black2 #head-menu li a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-b2.png);
}
.logged-in-white2 #head-menu li a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-w2.png);
}

#header #logo a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/logo.png);
}
#header-rom-change a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/header-buttons.png);
}
#header-logout a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/header-buttons.png);
}
#header-back-to-top a {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/gmenu-n.png);
}

.dialog-buttons-ok, .dialog-buttons-register, .dialog-buttons-cancel, .dialog-buttons-back, .dialog-buttons-wakeup, .dialog-buttons-details {
  background-image: url(/web/20121017000547im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/fr/images/dialog-buttons.png);
}



/*
     FILE ARCHIVED ON 00:05:47 Oct 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:35:44 May 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.491
  exclusion.robots: 0.05
  exclusion.robots.policy: 0.039
  esindex: 0.009
  cdx.remote: 21.806
  LoadShardBlock: 83.859 (3)
  PetaboxLoader3.datanode: 87.183 (4)
  load_resource: 127.026
  PetaboxLoader3.resolve: 81.105
*/