
.not-logged-in #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-n.png);
}
.trial #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-t.png);
}
.logged-in-black #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-b.png);
}
.logged-in-white #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-w.png);
}
.logged-in-black2 #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-b2.png);
}
.logged-in-white2 #header {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-w2.png);
}

.trial #head-menu li a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-t.png);
}
.logged-in-black #head-menu li a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-b.png);
}
.logged-in-white #head-menu li a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-w.png);
}
.logged-in-black2 #head-menu li a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-b2.png);
}
.logged-in-white2 #head-menu li a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-w2.png);
}

#header #logo a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/logo.png);
}
#header-rom-change a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/header-buttons.png);
}
#header-logout a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/header-buttons.png);
}
#header-back-to-top a {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/gmenu-n.png);
}

.dialog-buttons-ok, .dialog-buttons-register, .dialog-buttons-cancel, .dialog-buttons-back, .dialog-buttons-wakeup, .dialog-buttons-details {
  background-image: url(/web/20121017005109im_/http://cdn2.pokemon-gl.com/src/swf/assets/global/ko/images/dialog-buttons.png);
}



/*
     FILE ARCHIVED ON 00:51:09 Oct 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:36:16 May 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.617
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.049
  esindex: 0.012
  cdx.remote: 8.187
  LoadShardBlock: 122.076 (3)
  PetaboxLoader3.datanode: 56.724 (4)
  PetaboxLoader3.resolve: 182.568 (2)
  load_resource: 151.035
*/