body {
	font-family: 'Hiragino Kaku Gothic Pro', 'ÉqÉâÉMÉmäpÉS Pro W3', 'Meiryo', 'ÉÅÉCÉäÉI', 'Osaka', 'ÇlÇr ÇoÉSÉVÉbÉN', sans-serif;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
	border:0;
}
/*
     FILE ARCHIVED ON 06:05:39 Jun 21, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:25:16 May 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.247
  exclusion.robots: 0.042
  exclusion.robots.policy: 0.029
  esindex: 0.022
  cdx.remote: 8.128
  LoadShardBlock: 38.442 (3)
  PetaboxLoader3.datanode: 56.378 (4)
  load_resource: 54.355
  PetaboxLoader3.resolve: 34.49
*/